*.class

# Package Files #
*.jar
*.war
*.ear
*.log
node_modules
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
node_modules/
#java source files only
# Blacklist everything
.vscode/*
# Whitelist all directories
!*/
# Whitelist the file you're interested in. 
!*.java
