*.class

# Package Files #
*.jar
*.war
*.ear
*.log
*.lck
node_modules


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


node_modules/
./Javascript/**/node_modules

.vscode/*



# Whitelist the file you're interested in. 
!*.java

