*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


#java source files only
# Blacklist everything
*
# Whitelist all directories
!*/
# Whitelist the file you're interested in. 
!*.java
